<div class="cookpad">
    <header class="header">
        <div class="flex-header">
            <nav class="header_navbar">
                <div class="header_with-search">
                    <div class="header_with-search--logo">
                        <a href="/"><img src="/img/logo.png" class="logo"></a>
                    </div>

                    <form class="header_search" method="get" action="/post/search">
                        <input type="texytexy" name="q" class="header_search--input"
                            placeholder="Tên món ăn, nguyên liệu, chủ đề...">
                        <button type="submit" class="header_search--btn">
                            <i class="fas fa-search"></i>
                        </button>

                    </form>

                </div>
                <ul class="header_navbar-list">
                    <li class="header_navbar-item">
                        <a href="/" class="header_navbar-item--link">
                            Khám phá
                            <i class="fas fa-utensils icons"></i>
                        </a>
                    </li>
                    <li class="header_navbar-item">
                        <a href="/post/create" class="header_navbar-item--link">
                            Viết món mới
                            <i class="fas fa-plus-circle icons"></i>
                        </a>
                    </li>

                    <li class="header_navbar-item">
                        {{#if localAuthUser}}
                        Xin chào, {{localAuthUser.fullname}}
                        <div class="dropdown">
                            <i class="fas fa-caret-square-down icon"></i>
                            <div class="dropdown-content">
                                <ul class="content_list">
                                    <li class="content_item">
                                        <a href="/account/{{localAuthUser._id}}" class="dropdown-link">
                                            Trang cá nhân
                                            <i class="fas fa-user"></i>
                                        </a>
                                    </li>
                                    <li class="content_item">
                                        <a href="/account/{{localAuthUser._id}}/edit?type=password"
                                            class="dropdown-link">
                                            Đổi mật khẩu
                                            <i class="fas fa-lock"></i>
                                        </a>
                                    </li>
                                    <li class="content_item">
                                        <a href="/account/{{localAuthUser._id}}/edit?type=information"
                                            class="dropdown-link">
                                            Thông tin cá nhân
                                            <i class="fas fa-user-shield"></i>
                                        </a>
                                    </li>
                                    <li class="content_item">
                                        <a href="/account/logout" class="dropdown-link">
                                            Đăng xuất
                                            <i class="fas fa-sign-out-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{else}}
                        Tài khoản
                        <div class="dropdown">
                            <i class="fas fa-caret-square-down icon"></i>
                            <div class="dropdown-content" >
                                <ul class="content_list">
                                    <li class="content_item">
                                        <a href="/account/register" class="dropdown-link">
                                            Đăng ký
                                            <i class="fas fa-user"></i>
                                        </a>
                                    </li>
                                    <li class="content_item">
                                        <a href="/account/login" class="dropdown-link">
                                            Đăng nhập
                                            <i class="fas fa-lock"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{/if}}
                    </li>
                </ul>
            </nav>


        </div>
    </header>
</div>