<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/postDetail.css">
        <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/font/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <link rel="stylesheet" href="/css/raw.css">

</head>

<body>
    {{>header}}
    <div class="containers space">
        <div class="recipes_profile">
            <div class="image_element">
                <img class="cook_image" src="{{post.thumbnail}}" alt="">
            </div>
            <div class="name_and_description">
                <h3 class="name">
                    {{post.title}}
                </h3>
                <p class="description">
                    {{post.postdescription}}
                </p>
            </div>
            <a href="/account/{{post.author}}" class="link_user">
                <div class="link_user_image">
                    <img class="user_image" src="{{post.authorAvatar}}" alt="">
                </div>
                <span class="link_user-nick_name"><span>{{post.authorName}}</span></span>
            </a>
            <p class="ration">Đăng ngày: {{post.date}}</p>
            <div class="time_cook">
            {{#if post.timecook}}
                <span class="time"><i class="fas fa-stopwatch time_icon"></i>
                    {{post.timecook}} phút
                </span>
            {{/if}}
            </div>
            <div class="material">
                <h3 class="material_title"> Nguyên Liệu </h3>
                {{#if post.ration}}
                <span class="ration">
                    <i class="fas fa-user ration_icon"></i>
                    {{post.ration}} phần ăn </span>{{/if}}
                <ul class="material_list">
                    {{#each post.ingredients}}
                    <li class="material_items">
                        <hr />{{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            <hr class="line" />
            <div class="step">
                <h3 class="step_title">
                    Các Bước
                </h3>
                <ul class="step_list">
                    {{#each post.steps}}
                    {{#if this.text}}
                    <li class="step_item">
                        <span class="step_description">
                            <i class="fas fa-heart icon_step "></i> {{this.text}}
                        </span>
                        <br>
                        <img class="step_img" src="{{this.img}}" alt="">
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>

            </div>
            <hr />
            <div class="comment_form">
                <h3 class="comment_title">
                    Bình luận
                </h3>
                <div class="comment">
                    <div class="comment_text">
                        <ul class="comment_list">
                            {{#each comments}}
                            <li class="comment_item">
                                <div class="flex-1">
                                    <a class="comment_link" href=""><img src="{{this.authorAvatar}}" alt=""
                                            class="user_img">{{this.authorName}}</a>
                                    <br>

                                    <p class="comment_text" style="margin-left: 43px;">{{this.content}}</p>
                                </div>
                                {{#ifCond ../user._id this.authorId }}
                                <span><i class="fas fa-times delete_comment" onclick="deleteComment(event)"></i></span>
                                {{/ifCond}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="comment_main">
                        <img src="{{#if user}}{{user.avatar}}{{else}}/img/dfprofile.jpg{{/if}}" alt="" class="user_img">
                        <div class="input">
                            <input class="comment_input" type="text" placeholder="Bình luận">
                            {{#if user}}<button class="btn1">{{else}}<button class="btn1" disabled
                                    title="Vui lòng đăng nhập để bình luận bài viết!">{{/if}}
                                    <i class="far fa-paper-plane"></i> </button>
                        </div>

                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="more-post">
            <h3 class="comment_title">Một số bài viết khác</h3>
            <div class="posts">
                {{#each morePosts}}
                <div class="card" style="width:32%;">
                    <a class="comment_link" style="font-size: 23px;" href="/post/{{this.slug}}"> <img
                            class="card-img-top" src="{{this.thumbnail}}" alt="Card image" style="width:100%;"></a>
                    <div class="card-body">
                        <a class="comment_link" style="font-size: 23px;" href="/post/{{this.slug}}">{{this.title}}</a>
                        <br>
                        <a class="comment_link" style="font-weight: 400; font-size: 14px;"
                            href="/account/{{this.author}}">{{this.authorName}}</a>
                    </div>
                </div>
                <br>
                {{/each}}
            </div>

        </div>
    </div>


    <script src="/javascripts/postDetail.js"></script>
</body>

</html>